.projects-container {
	max-width: 90vw;
	min-height: 90vh;
	max-height: 90vh;
	margin: 30px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	overflow-y: scroll;
	background-color: #151515;
}
.project-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 35%;
	margin: 50px;
	color: #151515;
}
.project-div::part(base) {
	background: hsla(52, 83%, 44%, 1);

	background: linear-gradient(90deg, hsla(52, 83%, 44%, 1) 0%, hsla(27, 92%, 47%, 1) 100%);

	background: -moz-linear-gradient(90deg, hsla(52, 83%, 44%, 1) 0%, hsla(27, 92%, 47%, 1) 100%);

	background: -webkit-linear-gradient(90deg, hsla(52, 83%, 44%, 1) 0%, hsla(27, 92%, 47%, 1) 100%);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CDB513", endColorstr="#E66C09", GradientType=1 );
	border: 0px;
}
.project-div::part(footer) {
	border-top: 2px solid #232323;
}
.essential-div {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	margin: 20px;
}
.info-div {
	margin: 0 30px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.info-div h3,
.changeable-div h3,
.changeable-div h4 {
	margin: 10px;
}
.changeable-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
	margin: 0px 20px 20px 20px;
}
.changeable-div h3 {
	margin: 10px;
}
.available {
	color: red;
}
.not-available {
	color: green;
}
.project-btn-div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 30px 0;
}
.open-badge::part(base),
.closed-badge::part(base) {
	font-size: 1rem;
	padding: 10px;
	color: #151515;
	margin: 0 10px;
}
.button-group-btn::part(base) {
	background-color: #232323;
	color: lightblue;
	border: 0px;
}
.updateProject-btn::part(base) {
	color: #6eeb83 !important;
}
.deleteProject-btn::part(base) {
	color: #ff5714;
}
.project-heading {
	font-weight: bold;
}
@media only screen and (max-width: 1020px) and (min-width: 721px) {
	.project-div {
		width: 70%;
	}
}
@media only screen and (max-width: 720px) {
	.project-div {
		width: 80%;
	}
	.project-div::part(base) {
		width: 100%;
	}
	.info-div > h5 {
		font-size: 16px;
	}
	.info-div h4,
	.changeable-div h4 {
		font-size: 16px;
	}
	.changeable-div {
		margin: 0 20px 10px 20px;
	}
	.changeable-div > h5 {
		font-size: 16px;
	}
	.project-btn-div {
		margin: 15px 0;
	}

	.essential-div img {
		width: 75px;
		height: auto;
	}
	.essential-div {
		margin: 20px 0;
	}
	.open-badge::part(base),
	.closed-badge::part(base) {
		margin: 0px 5px;
		padding: 5px;
	}
	.button-group-btn > button {
		line-height: 30px !important;
		font-size: 20px !important;
	}
	button {
	}
}
