#customBtn {
	display: inline-block;
	background: #151515;
	color: #ff5714;
	width: 190px;
	border-radius: 5px;
	border: thin solid #151515;
	box-shadow: 1px 1px 1px #151515;
	margin: 30px;
	white-space: nowrap;
}
#customBtn:hover {
	cursor: pointer;
}
span.buttonText {
	display: inline-block;
	vertical-align: middle;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 18px;
	font-weight: bold;
	/* Use the Roboto font that is loaded in the <head> */
	font-family: "Roboto", sans-serif;
}
.login-container-left {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #151515;
	margin: 100px 50px;
	color: #ff5714;
	padding: 20px;
}
.login-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	color: #ff5714;
}
.login-container-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 50px;
}
.login-form {
	width: 80%;
}

.login-form::part(base) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.loggedIn::part(base) {
	background-color: #151515 !important;
	border: 2px #232323 solid !important;
	border-top: 5px orange solid !important;
	color: #ff5714;
}
@media only screen and (max-width: 1020px) {
	.login-container-left {
		width: 80%;
		margin: 50px 30px;
	}
}
