.signup-container {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	color: #ff5714;
}
.signup-div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin: 20px auto;
	color: black;
}
.signup-left-div {
	width: 35%;
	background-color: #151515;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 50px;
}
.signup-right-div {
	width: 35%;
	margin: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.signup-input {
	width: 35%;
	background-color: #151515;
	color: #ff5714;
	border: none;
	border-radius: 10px;
	font-size: 15px;
	padding: 10px;
	margin: 30px auto;
}
.signup-btn::part(base) {
	background-color: #232323;
	color: #ff5714;
	border: 2px solid #232323;
	margin: 30px 0;
}
::placeholder {
	color: #ff5714;
}
.success {
	color: green;
	display: none;
}
.message {
	width: 60%;
	color: #232323;
	padding: 50px;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.mail-picture {
	width: 200px;
	height: auto;
}
.sending {
	background-color: #ff5714;
}
.sent {
	background-color: lightgreen;
}
.already {
	background-color: red;
}
.signup-container h2 {
	margin-top: 30px;
}
.inputs {
	width: 75%;
	margin: 30px 0;
	color: #ff5714;
}
.inputs::part(base) {
	background-color: #232323 !important;
	border: 2px #232323 solid !important;
	color: #ff5714;
}
.inputs::part(input) {
	color: #ff5714 !important;
}
.signup-form {
	margin: 50px;
	width: 80%;
}
.signup-form::part(base) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.customBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
}
.successful,
.unsuccessful,
.sending {
	margin: 50px 0;
}
.successful::part(base) {
	background-color: #151515 !important;
	border: 2px #232323 solid !important;
	border-top: 5px green solid !important;
	color: #ff5714;
}
.unsuccessful::part(base) {
	background-color: #151515 !important;
	border: 2px #232323 solid !important;
	border-top: 5px orange solid !important;
	color: #ff5714;
}
.sending {
	--color: orange;
	font-size: 50px;
}
@media only screen and (max-width: 1020px) {
	.signup-container {
		flex-direction: column;
	}
	.signup-left-div,
	.signup-right-div {
		width: 80%;
	}
	.signup-container div {
		margin: 30px 50px;
	}
}
