.reset-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	padding: 50px;
	margin: 100px auto;
	background-color: #151515;
	color: #ff5714;
}
.reset-form::part(base) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
