.forgot-container {
	width: 40%;
	background-color: #151515;
	color: #ff5714;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
	margin: 100px auto;
}
.forgot-form::part(base) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.forgot-input {
	width: 90%;
	color: #ff5714;
}
.forgot-input::part(base) {
	background-color: #232323 !important;
	border: 2px #232323 solid !important;
	color: #ff5714;
}
.forgot-input::part(input) {
	color: #ff5714 !important;
}
.waitEmail-spinner {
	font-size: 5rem;
	align-self: center;
	justify-self: center;
	--indicator-color: #ff5714;
}
